/**
*
* Code
*
**/

pre{
	overflow: auto;

	mark{
		background: none;
		border-bottom: 1px solid;
		color: inherit;
	}
}



/**
 * Add comments to your code examples, e.g.:
 * <code>&lt;/div&gt;<span class=code-comment>&lt;!-- /wrapper --&gt;</span></code>
 */
.code-comment{
	opacity: 0.75;
}